Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: white;
  }
  h1{
    color : #2B4865
  }
  button { 
         background-color:#2B4865; 
         width: 5%;
          color:white; 
  
          padding: 15px; 
          margin: 10px 0px; 
          border: none; 
          cursor: pointer; 
           } 
   form { 
          border: 3px solid #2B4865; 
      } 
   input[type=text], input[type=password] { 
          width: 75; 
          margin: 10px 0;
          padding: 12px 20px; 
          display: inline-block; 
          border: 2px solid #2B4865; 
          box-sizing: border-box; 
          text-transform: capitalize;
      }
   button:hover { 
          opacity: 0.7; 
      } 
    .cancelbtn { 
          width: auto; 
          padding: 10px 18px;
          margin: 10px 5px;
      } 
        
     
   .container { 
          padding: 25px; 
          background-color:  white;
      } 