*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'robot' sans-serif ;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color:white;
    z-index: 9;
}

.nav{
    padding: 1;
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    height: 100px;
}
.nav-items{
    display: flex;
    align-items: center;
}
.search{
    width: 500px;
    display: flex;
}
.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #03001C ;
    text-transform: capitalize;
    background: none;
    color: #DEFCF9;
    outline: none;
}
.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: #03001C;
    outline: none;
    cursor: pointer;
    background: #03001C;
    color :#DEFCF9;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
}
.seach-box::placeholder{
    color: white;
}
.nav-items a{
    margin-left: 15px;
}
.nav-items a img{
    width: 50px;
}
.links-container{
    width: 100%;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #2B4865;
}
.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #2B4865;
    opacity: 0.5;
    transition: .5s;
}
.link:hover{
    opacity: 1;
}
.login{
    color: #03001C;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color:#383838;
}
.contact .content p
{
    font-weight: 500;
    color:#383838;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #383838;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .InputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .InputBox input
.contactForm .InputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .InputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .InputBox input:focus ~ span,
.contactForm .InputBox input:valid ~ span,
.contactForm .InputBox textarea:focus ~ span,
.contactForm .InputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .InputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}